<h2><%= @track.name %></h2>
<%= link_to "(Edit)", edit_track_url(@track), method: "GET" %>

<h3>Artist:</h3>
<%= link_to @track.band.name, band_url(@track.band) %>
<br>
<br>

<h3>Album:</h3>
<%= link_to @track.album.name, album_url(@track.album) %>
<br>
<br>

<h3>Lyrics:</h3>
<% split_lyrics(@track.lyrics).each do |line| %>
<p><%= line %></p>
<% end %>
<br>
<br>

<h3>Notes:</h3>
<div class="note">
<%= render "notes/form", track: @track %>
<%= render "notes/note", notes: @track.notes %>
</div>
