<!-- <% if @cat.persisted? %>
<% header_text="Edit an existing cat" %>
<% path=cat_url(cat) %>
<% method="patch" %>
<% else %>
<% header_text="Add a new cat" %>
<% path=cats_url %>
<% method="post" %>
<% end %> -->



  <label for="cat_name_input">Name:</label>
  <br>
  <input type="text" id="cat_name_input" name="cat[name]" value= <%= @cat.name %>>
  <br>
  <br>

  <label for="cat_color">Color:</label>
  <br>
  <select name="cat[color]" id="cat_color">
    <option></option>
    <% Cat::COLORS.each do |color| %>
    <option value="<%= color %>" <%= color == @cat.color ? "selected" : "" %> ><%= color.capitalize %></option>
    <% end %>
  </select>
  <br>
  <br>

  <label>Sex:</label>
  <br>

  <input type="radio" name="cat[sex]" id="cat_sex_m" value="M" <%= "M" == @cat.sex ? "checked" : "" %>>
  <label for="cat_sex_m">M</label>
  <br>
  <input type="radio" name="cat[sex]" id="cat_sex_f" value="F" <%= "F" == @cat.sex ? "checked" : "" %>>
  <label for="cat_sex_f">F</label>
  <br>
  <br>

  <label for="cat_birth_date">Birthday:</label>
  <br>
  <input type="date" name="cat[birth_date]" id="cat_birth_date" value=<%= @cat.birth_date %>>
  <br>
  <br>

  <label for="cat_description">Description:</label>
  <br>
  <textarea name="cat[description]" id="cat_description" rows = 10 cols=50><%= @cat.description %></textarea>
  <br>
  <br>

  <input type="submit" value="Save my cat!">

</form>
