<h1>Edit Link</h1>

<%= render "/shared/errors" %>

<form action= "<%= link_url(@link) %>" method="post">
  <input type="hidden" name="_method" value="PATCH">

  <%= authenticity_token %>

  <label for="title">Title</label>
  <input type="text" name="link[title]" id="title" value= "<%= @link.title %>">

  <label for="url">URL</label>
  <input type="url" name="link[url]" id="url" value= "<%= @link.url %>">

  <input type="submit" value="Update Link">

</form>
