<html>
  <table>
    <tr>
      <td> Name: </td>
      <td> <%= @cat.name %> </td>
    </tr>
    <tr>
      <td> Sex: </td>
      <td> <%= @cat.sex %> </td>
    </tr>
    <tr>
      <td> Birth Date: </td>
      <td> <%= @cat.birth_date %> </td>
    </tr>
    <tr>
      <td> Color: </td>
      <td> <%= @cat.color %> </td>
    </tr>
    <tr>
      <td> Description: </td>
      <td> <%= @cat.description %> </td>
    </tr>
  </table>

<h3>Current Requests</h3>
  <table>
    <tr>
      <th>Start Date</th>
      <th>End Date</th>
    </tr>
    <% @cat.cat_rental_requests.sort.each do |req| %>
    <tr>
      <td><%= req.start_date %></td>
      <td><%= req.end_date %></td>
    </tr>
    <% end %>
  </table>

  <!-- <p> Name: <%= @cat.name %> </p>
  <p> Sex: <%= @cat.sex %> </p>
  <p> Birth Date: <%= @cat.birth_date %> </p>
  <p> Color: <%= @cat.color %> </p>
  <p> Description: <%= @cat.description %> </p> -->
</html>
